:root {
    --globalColor:red
}

html,body {
    width: 100%;
    height: 100%;
}

.content {
    .main {
        background-color: var(--globalColor);
            filter: blur(100px);
        /*最小100px 最大200px 在这个区间取父类的百分之50
       */
        width: clamp(100px, 50%,200px);
        /*这个就会加上前缀*/
        user-select: none;
    }
}