name: butler
on:
  issue_comment:
    types:
      - created

permissions:
  pull-requests: write

jobs:
  chat:
    runs-on: ubuntu-latest
    steps:
      - uses: ca-dp/code-butler@v1
        with:
          GITHUB_TOKEN: ${{secrets.SECRET}}
          OPENAI_API_KEY: ${{secrets.OPENAI_API_KEY}}
          cmd: chat
          comment_body: ${{github.event.comment.body}}